@use "../button.selectors" as *;

@mixin light() {
  #{$selector} {
    --text: var(--c-white);
    --disabled-opacity: var(--opacity-sm);

    &#{$selector--primary} {
      --bg: var(--c-blue);
      --bg-hover: var(--c-blue-dark);
      --bg-outlined-hover: var(--c-blue-ultra-light);
    }

    &#{$selector--warning} {
      --bg: var(--c-orange);
      --bg-hover: var(--c-orange-dark);
      --bg-outlined-hover: var(--c-orange-ultra-light);
    }

    &#{$selector--danger} {
      --bg: var(--c-red);
      --bg-hover: var(--c-red-dark);
      --bg-outlined-hover: var(--c-red-ultra-light);
    }
  }
}
