@function transition($props...) {
  $result: "";
  $config: var(--transition-duration) var(--transition-function);

  @for $idx from 1 through length($props) {
    $prop: nth($props, $idx);
    $rule: #{$prop} #{$config};

    @if $idx == 1 {
      $result: $rule;
    } @else {
      $result: #{$result + ","} $rule;
    }
  }

  @return $result;
}

@mixin hideScrollbar() {
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
