@mixin colors() {
  --c-white: #ffffff;
  --c-blackish: #1c2127;
  --c-blue: #3b82f6;
  --c-blue-dark: #2563eb;
  --c-lightblue: #93c5fd;
  --c-lightblue-dark: #7fbafd;
  --c-red: #ef4444;
  --c-red-dark: #dc2626;
  --c-lightred: #fca5a5;
  --c-lightred-dark: #fb7d7d;
}
