<kendo-grid
  [data]="products"
  [kendoGridInCellEditing]="createFormGroup"
  [navigable]="true"
  [inCellTab]="createFormGroup"
>
  <kendo-grid-column
    field="ProductName"
    title="Product Name"
  ></kendo-grid-column>

  <kendo-grid-column
    field="UnitPrice"
    title="Price"
    editor="numeric"
  ></kendo-grid-column>

  <kendo-grid-column
    field="Discontinued"
    title="Discontinued"
    editor="boolean"
  ></kendo-grid-column>

  <kendo-grid-column
    field="UnitsInStock"
    title="Units In Stock"
    editor="numeric"
  ></kendo-grid-column>
</kendo-grid>
