<kendo-switch
  class="mr-1"
  [(ngModel)]="czech"
  onLabel="CZE"
  offLabel="ENG"
></kendo-switch>

<button class="mr-1" kendoButton (click)="openProfilePicker()">Profiles</button>

<kendo-buttongroup>
  <button kendoButton (click)="reset()">Reset</button>
  <button kendoButton (click)="deleteSelected()">Delete selected</button>
</kendo-buttongroup>

<hr />

<kendo-splitter class="page">
  <kendo-splitter-pane>
    <div class="grid-wrapper h-100">
      <kendo-grid
        #grid
        class="h-100"
        [kendoGridBinding]="documents"
        [trackBy]="trackBy"
        [resizable]="true"
        [reorderable]="true"
        kendoGridSelectBy="id"
        [(selectedKeys)]="selectedRowsDocumentIds"
        [selectable]="{
          checkboxOnly: true,
          mode: 'multiple'
        }"
        [groupable]="true"
        [group]="groups"
        [filterable]="true"
        [filter]="filter"
        cdkDropListGroup
      >
        <kendo-grid-checkbox-column
          [width]="41"
          [showSelectAll]="true"
        ></kendo-grid-checkbox-column>

        <kendo-grid-column
          field="id"
          title="Id"
          [width]="50"
          [filterable]="false"
        ></kendo-grid-column>

        <kendo-grid-column
          field="workspace"
          title="Workspace"
          [width]="150"
        ></kendo-grid-column>

        <kendo-grid-column
          field="profile"
          title="Profil"
          [width]="150"
        ></kendo-grid-column>

        <kendo-grid-column field="title" title="Název souboru">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div
              cdkDropList
              #nameField="cdkDropList"
              [cdkDropListData]="dataItem"
              (cdkDropListDropped)="drop($event)"
              data-droplist="file"
            >
              <div cdkDrag *ngIf="dataItem.title">
                <i cdkDragHandle>#</i
                ><span class="filename" (click)="openPreview(dataItem)">{{
                  dataItem.title
                }}</span>
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column
          field="attachments"
          title="Přílohy"
          [filterable]="false"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div
              cdkDropList
              #attachmentsField="cdkDropList"
              [cdkDropListData]="dataItem.attachments"
              (cdkDropListDropped)="drop($event)"
              data-droplist="attachments"
            >
              <div *ngFor="let attachment of dataItem.attachments" cdkDrag>
                <ng-container *ngIf="attachment.title"
                  ><i cdkDragHandle>#</i>
                  <span class="filename" (click)="openPreview(attachment)">{{
                    attachment.title
                  }}</span></ng-container
                >
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-messages
          [groupPanelEmpty]="
            czech
              ? 'Přetáhněte sloupec k seskupení'
              : 'Drag a column header and drop it here to group by that column'
          "
          [noRecords]="czech ? 'Zde nic není.' : 'No records available.'"
        >
        </kendo-grid-messages>
      </kendo-grid>
    </div>
  </kendo-splitter-pane>

  <kendo-splitter-pane *ngIf="preview" size="20%" min="20%" max="80%">
    <div class="preview-header">
      <h3 class="preview-title">{{ preview.title }}</h3>
      <i (click)="closePreview()" class="close-preview">&times;</i>
    </div>

    <div class="preview-body">
      <img [src]="preview.url" />
    </div>
  </kendo-splitter-pane>
</kendo-splitter>

<kendo-dialog
  *ngIf="profilePickerOpened"
  title="Choose profiles"
  (close)="cancelProfilePicker()"
>
  <p style="margin: 30px; text-align: center">Choose profiles</p>

  <kendo-dialog-actions>
    <button kendoButton (click)="cancelProfilePicker()">Cancel</button>
    <button kendoButton (click)="confirmProfilePicker()" themeColor="primary">
      Ok
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
