@use "sass:list";
@use "sass:map";

@function createVarss($prefix, $vars...) {
  $result: ();

  @each $var in $vars {
    $propKey: list.nth($var, 1);
    $value: list.nth($var, 2);
    $prop: getProp($propKey);

    @if $prop {
      $varName: --#{$prefix}-#{$prop};
      $result: list.append($result, ($varName, $value, $prop));
    }
  }

  @return $result;
}

@mixin createVars($vars) {
  @each $var in $vars {
    $varName: list.nth($var, 1);
    $value: list.nth($var, 2);

    #{$varName}: $value;
  }
}

@mixin createVarBasedRules($vars) {
  @each $var in $vars {
    $varName: list.nth($var, 1);
    $prop: list.nth($var, 3);

    #{$prop}: var($varName);
  }
}

$kendo-prefix: "kendo";

@function withKendoPrefix($name) {
  @return "#{$kendo-prefix}-#{$name}";
}

$props: (
  "color": "color",
  "background-color": "background-color",
);

@function getProp($key) {
  @return map.get($props, $key);
}
