Select component:
<kendo-dropdownlist
  [data]="uiComponents"
  [(ngModel)]="selectedUiComponent"
></kendo-dropdownlist>

<hr style="position: relative; z-index: 1" />

<ng-container [ngSwitch]="selectedUiComponent">
  <app-custom-styles-wrapper
    *ngSwitchCase="'custom-styles'"
  ></app-custom-styles-wrapper>
  <app-documents-page *ngSwitchCase="'documents-page'"></app-documents-page>
  <app-grid-cell-edit *ngSwitchCase="'grid-cell-edit'"></app-grid-cell-edit>
  <app-grid-row-edit *ngSwitchCase="'grid-row-edit'"></app-grid-row-edit>
</ng-container>
