<kendo-grid
  #grid
  [data]="products"
  [trackBy]="trackBy"
  [navigable]="true"
  (keydown.enter)="onEnter($event, grid)"
  (keydown.escape)="onEscape($event, grid)"
>
  <kendo-grid-column
    field="ProductName"
    title="Product Name"
  ></kendo-grid-column>

  <kendo-grid-column
    field="UnitPrice"
    title="Price"
    editor="numeric"
  ></kendo-grid-column>

  <!-- <kendo-grid-column
    field="Discontinued"
    title="Discontinued"
    editor="boolean"
  ></kendo-grid-column> -->

  <kendo-grid-column
    field="UnitsInStock"
    title="Units In Stock"
    editor="numeric"
  ></kendo-grid-column>

  <kendo-grid-command-column title="command" [width]="220">
    <ng-template kendoGridCellTemplate>
      <button kendoGridCancelCommand>Cancel</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
