@use "/src/styles/vars";
@use "/src/styles/themes";
@use "/src/styles/kendo/button";
@use "/src/styles/kendo/chip";
@use "/src/styles/kendo/grid";

:host {
  @include vars.vars();

  font-family: var(--font-family-default);
  -webkit-font-smoothing: antialiased;
  display: block;
  padding: 1rem 0.3rem;
  height: 100%;

  &#{themes.$light} {
    background: white;
    color: #000000;
  }

  &#{themes.$dark} {
    background: #071426;
    color: #ffffff;
  }
}

:host ::ng-deep {
  @include button.base();
  @include chip.base();
  @include grid.base();
}

:host#{themes.$light} ::ng-deep {
  @include button.light();
  @include chip.light();
  @include grid.light();
}

:host#{themes.$dark} ::ng-deep {
  @include button.dark();
  @include chip.dark();
  @include grid.dark();
}
