@use "../mixins";
@use "./prefixes";

$prefix: prefixes.$grid;
$background: "#{$prefix}-background";

$vars: mixins.createVarss(
  $prefix,
  ("background-color", "#fff"),
  ("color", "#424242")
);

:root {
  @include mixins.createVars($vars);
}

.k-grid {
  @include mixins.createVarBasedRules($vars);
}
