@use "../mixins";

$prefix: mixins.withKendoPrefix(grid);

:root {
  @include mixins.createVars($prefix, (bg, red), (color, blue));
}

.k-grid {
  background: var(--#{$prefix}-bg);
  color: var(--#{$prefix}-color);
}
