@use "./config" as *;

@mixin base() {
  #{$selector} {
    line-height: normal;
    background-image: none;
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-default);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-weight: var(--font-weight-strong);
    font-family: var(--font-family-default);
    width: auto;
    height: auto;
    transition: background-color var(--transition-duration),
      color var(--transition-duration), border-color var(--transition-duration);
    background-color: inherit;

    &:disabled {
      filter: none;
    }

    &#{$selector--rounded} {
      border-radius: var(--border-radius-lg);
    }

    &#{$selector--icon} {
      #{$selectorText} {
        display: flex;
        column-gap: var(--spacing-xxs);
      }
    }

    &#{$selector--icon-only} {
      width: var(--btn-icon-only-size);
      height: var(--btn-icon-only-size);
      padding: 0;

      &#{$selector--rounded} {
        border-radius: 100%;
      }
    }
  }
}
