@use "./button.selectors" as *;

@mixin base() {
  #{$selector} {
    --text: ;
    --bg: ;
    --bg-hover: ;
    --bg-outlined-hover: ;
    --disabled-opacity: ;

    background-color: var(--bg);
    border-color: var(--bg);

    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-default);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-weight: var(--font-weight-strong);
    font-family: var(--font-family-default);
    transition: background-color var(--transition-duration),
      color var(--transition-duration), border-color var(--transition-duration);
    line-height: normal;
    background-image: none;

    &:hover {
      background-color: var(--bg-hover);
      border-color: var(--bg-hover);
    }

    &:disabled {
      filter: none;
      opacity: var(--disabled-opacity);
    }

    &:not(#{$selector-outlined}) {
      color: var(--text);
    }

    &#{$selector-outlined} {
      color: var(--bg);
      background-color: transparent;

      &:hover {
        border-color: var(--bg);
        background-color: var(--bg-outlined-hover);
      }
    }

    &#{$selector-rounded} {
      border-radius: var(--border-radius-lg);
    }

    &#{$selector-icon} {
      .k-button-text {
        display: flex;
        column-gap: var(--spacing-xxs);
      }
    }

    &#{$selector-icon-only} {
      --icon-only-size: var(--spacing-md);

      width: var(--icon-only-size);
      height: var(--icon-only-size);
      padding: 0;

      &#{$selector-rounded} {
        border-radius: 100%;
      }
    }
  }
}
