$disabled-light: hsl(0, 47%, 92%);
$disabled-dark: hsl(0, 65%, 86%);
$selected-light: hsl(205, 47%, 92%);
$selected-dark: hsl(205, 65%, 86%);

:host ::ng-deep {
  td.disabled {
    text-decoration: line-through;
    cursor: not-allowed;
    background: $disabled-light;
  }

  td.k-state-selected,
  tr.k-state-selected > td {
    background: $selected-light;

    &.disabled {
      background: $disabled-light;
    }
  }

  tr:nth-child(even) {
    td.disabled {
      background: $disabled-dark;
    }

    td.k-state-selected,
    &.k-state-selected > td {
      background: $selected-dark;

      &.disabled {
        background: $disabled-dark;
      }
    }
  }
}
