/* You can add global styles to this file, and also import other style files */
@use "styles/kendo/native/button/button" as buttonNative;
@use "styles/kendo/override/button/button";
@use "styles/kendo/override/button" as buttonOverride;

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);

  @include buttonOverride.overrideVars(("font-family", var(--font-family)));
}
