@use "styles/vars";
@use "styles/kendo/button";

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;

  &[data-theme="light"] {
    background: #ffffff;
  }

  &[data-theme="dark"] {
    background: #071426;
  }
}

@include button.base();

:root {
  @include vars.vars();
}

body {
  font-family: var(--font-family-default);

  &[data-theme="light"] {
    @include button.light();
  }

  &[data-theme="dark"] {
    @include button.dark();
  }
}
