@use "styles/kendo/button";

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);

  &[data-theme="light"] {
    background: #ffffff;
  }

  &[data-theme="dark"] {
    background: #071426;
  }
}

@include button.base();

#{button.$selector} {
  @include button.overrideVars(
    (("font-family", var(--font-family)), ("background-color", red))
  );
}

body {
  &[data-theme="light"] {
    @include button.light();
  }

  &[data-theme="dark"] {
    @include button.dark();
  }
}
