@use "./chip.selectors" as *;
@use "/src/styles/helpers/rules" as *;

@mixin base() {
  #{$selector} {
    --text: ;
    --bg: ;
    --action-icon-size: 1.5rem;

    @include chip();

    &:hover {
      .k-chip-actions .k-icon {
        @include _actionIconOnHover();
      }
    }

    .k-chip-content {
      margin: 0;
      padding: 0;
    }

    .k-icon,
    .k-chip-icon {
      font-weight: 700;
    }

    .k-chip-actions {
      margin: 0;

      .k-chip-action {
        margin-left: 0.6rem;
      }

      .k-icon {
        @include _actionIcon();

        &.k-i-close-circle {
          &::before {
            content: "\e11b";
          }
        }
      }
    }

    .k-chip-icon {
      margin-right: 0.6rem;
    }

    &#{$selector-action} {
      .k-chip-icon {
        @include _actionIcon();
      }

      &:hover {
        .k-chip-icon {
          @include _actionIconOnHover();
        }
      }
    }

    &:not(#{$selector-action}) {
      .k-chip-icon {
        font-size: 1.6rem;
        line-height: 1.6;
      }
    }
  }
}

@mixin chip() {
  color: var(--text);
  background: var(--bg);
  border-radius: 1.6rem;
  height: 2.4rem;
  font-size: 1.3rem;
  display: inline-flex;
  grid-gap: 0;
  align-items: center;
  padding: 0 0.8rem;
  line-height: 1.2;
  white-space: nowrap;
  width: fit-content;
  border: none;
  box-shadow: none;
  transition: transition("color", "background-color");

  &:hover {
    color: var(--bg);
    background: var(--text);
  }
}

@mixin _actionIcon() {
  font-size: inherit;
  height: var(--action-icon-size);
  width: var(--action-icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--text);
  color: var(--bg);
  border-radius: 100%;
  transition: transition("color", "background-color");
}

@mixin _actionIconOnHover() {
  background-color: var(--bg);
  color: var(--text);

  &:hover {
    opacity: 0.7;
  }
}
